.Main {
  /* background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #ee7752, #e73c7e, #23a6d5, #23d5ab, #ee7752, #e73c7e, #23a6d5, #23d5ab, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  /* background-image: linear-gradient(-45deg, #aaffff, #aaffff, #88fbff, #aaffff, #aaffff); */
  /* background-image: linear-gradient(-45deg, #ddffff, #ddffff); /*#1c5c71, #1e4085, #4e2c89, #0a2578);*/
  /* background-color: gray; */
  /* animation: gradient 25s ease infinite;
  background-size: 1000%; 
  min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Yuji Syuku', serif;
  color: #333;
  white-space: pre-line;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.Main-header {
  margin: 2em;
  width: 95%;
  display: flex;
  text-align: 'center';
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.39); */
}

.bloque-imagen {
  width: 35vmin;
  height: 35vmin;
  pointer-events: none;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

  /* .bloque-imagen {
    animation: App-logo-spin infinite 20s linear;
  } */
}

.dc-link {
  color: #61dafb;
}

.mainContainer {
  /* background-color: #D0D3D4AA; */
  /* background-color: rgba(51, 51, 51, 0.25); */
  display: flex;
  text-align: 'center';
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border-radius: 1em; */
  width: 95%;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.39); */
}

.main {
  /* background-color: rgba(250, 250, 250, 0.75); */
  font-size: calc(5px + 2vmin);
  /* color: #323; */
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 2em;
  /* font-family: 'Amatic SC', cursive; */
  margin-top: 1em;
  margin-bottom: 1em;
  /* border-radius: 1em; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.39); */
}

.container {
  display: flex;
  text-align: 'center';
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* p {
  white-space: pre-line;
} */

.unique-dc {
  padding: 1em;
  width: 100%;
}

.dc {
  padding: 1em;
  width: 50%;
}

.multiText {
  padding: 1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media only screen and (max-width: 1050px) {
  .App-header {
    /* background-color: #d0d3d4AA; */
    background-color: rgba(51, 51, 51, 0.25);
    margin: 2em;
    /* border-radius: 1em; */
    width: 95%;
    display: flex;
    text-align: 'center';
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.39); */
  }

  .container {
    display: flex;
    text-align: 'center';
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .dc {
    padding: 1em;
    width: 100%;
  }

  .bloque-imagen {
    width: 100%;
    height: 35vh;
    pointer-events: none;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .cImg {
    flex-direction: row;
  }

  .hide {
    display: none;
  }
}