.Main {
  /* background-color: rgba(94,94,94,0.81); */
  font-family: 'Yuji Syuku';
}

.Main-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
  /* margin-top: 1em;
  margin-bottom: 1em; */
}

/* @media (prefers-reduced-motion: no-preference) {
  .styleApp-logo {
    animation: styleApp-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

.noLink {
  color: aliceblue;
}

/* .intro {
  width: 90%;
  text-align: center;
} */

/* .intro span {
  font-weight: 1000;
  color: aliceblue;
}

.list li {
  padding: 0.2em;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
