.styleApp {
  background-color: aliceblue;
  font-family: 'Yuji Syuku';
}

.styleApp-logo {
  height: 20vmin;
  pointer-events: none;
  border-radius: 50%;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* @media (prefers-reduced-motion: no-preference) {
  .styleApp-logo {
    animation: styleApp-logo-spin infinite 20s linear;
  }
} */

.styleApp-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: aliceblue;
}

.aux {
  align-items: center;
  background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  border-radius: 1em;
  box-shadow: 15px 10px 15px 1px rgba(94,94,94,0.81);
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: 40%;
}

.styleApp-link {
  color: #61dafb;
}

.noLink {
  color: aliceblue;
}

.intro {
  width: 90%;
  text-align: center;
}

.intro span {
  font-weight: 1000;
  color: aliceblue;
}

.list li {
  padding: 0.2em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
